<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">Hey, I am Zhiqiang Liu(刘志强)</h4>
    <h5 >B.S. in Computer Science, California State University, Fullerton</h5>
  </div>
  <div class="user-content">
    <p>
      I'm a full Stack developer from China 🇨🇳. I had experience working in Android front-end and back-end, before getting my B.S. degree. I, personally, prefer Android programming.
      
    </p>
    <p></p>
    <p>
      Skilled Languages: Java, Kotlin, Python, Javascript, C++, SQL
    </p>

    <p>
      Technical Skills: React,Tailwind CSS, Spring Boot, Nginx
    </p>
  </div>
</div>
